@use '@angular/material' as mat;
@import "../../../custom-theme.scss";
@import "../../../styles.scss";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'simplebar';
@import 'simplebar/dist/simplebar.css';
[id="listitem"] {
  display: inline-block !important;
}

[id="date"] {
  display: inline-block !important;
  float: none;
  display: flex;
}
.custom-a {
    padding: 10px;
    @apply shadow-md shadow-[#eaaa00];
}

.messagearea {
  display: flex;
  flex-direction: column;
  height: 60vh !important;
  background-color: white !important;
  width: 100% !important;
  overflow-y: auto;
  overflow-x: hidden;
}


.mymessage {
  background: rgb(255,127,42);
  background: linear-gradient(270deg, rgba(255,127,42,1) 0%, rgba(234,170,0,1) 100%);
}

// .theirmessage {
//   background: rgb(61,200,196);
//   background: linear-gradient(270deg, rgba(61,200,196,1) 0%, rgba(0,69,255,1) 100%);
// }

[id="message"] {
  background-color: #54585A;
  @apply shadow-md shadow-[#54585A] hover:shadow-gray-600;


}

[id="send"] {
  background-color: #eaaa00;
  @apply transition-colors duration-100 shadow-md shadow-[#eaaa00] transition-colors transform hover:shadow-gray-600 hover:bg-gray-600 focus:bg-gray-600 focus:outline-none;
}

[id="back"] {
  background-color: #eaaa00;
  @apply shadow-md shadow-[#eaaa00] hover:shadow-gray-600 transition-colors duration-200 transform;
  display: none;
}




.row-item-div-large {
  width: 28.3333333%;
  margin: 5%;
}

h2 {
  font-family: "Dosis";
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

.selected {
  background: rgb(229 231 235 / var(--tw-bg-opacity));
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background-image: linear-gradient( yellow , red) !important;
}

.simplebar-track.simplebar-vertical {
  background-color: orange !important;
}

::ng-deep .simplebar-scrollbar::before {
  background-image: linear-gradient( yellow , red) !important;
}

[id="stock"] {
  border-radius: 50% !important;
  border: solid 1px #000 !important;
  width: 100px;
  height: 100px;
  display: inline !important;
}
[id="theapp"] {
  cursor: pointer;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}

textarea {
  border-style: none;
  border-color: Transparent;
  overflow: auto;
}

[id="apply"] {
  padding: 16px;
  float: right;
}

[id="dateofjob"] {
  float: right !important;
  display: block !important;
}

[id="desc"] {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-all;
}

.msgbox {
  padding-left: 1px !important;
  padding-right: 1px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.msg {
  overflow-wrap: break-word !important;
  word-break: break-word;
  hyphens: auto !important;
}

bar-rating {
  float: right;
}

[id="rightcol"] {
  width: calc(40% - 72px);
}

[id="rightcol2"] {
  width: calc(60% - 72px);
}

.navbar {
  width: 100% !important;
}

[id="stock"] {
  border-radius: 50% !important;
  border: solid 1px #000 !important;
}

[id="createclick"] {
  padding: 10px !important;
}

.mat-raised-button {
  @apply shadow-md shadow-[#eaaa00];
}


[id="dropdown"] {
  float: right;
}
[id="filter"] {
  display: inline !important;
}

[id="arrow"] {
  display: inline !important;
}

[id="type"] {
  font-color: white !important;
}

[id="row-bottom"] {
  justify-self: baseline !important;
  align-self: flex-end !important;
}

[id="timeofjob"] {
  display: inline !important;
}


@media (max-width: 1400px) {
  [id="dateofjob"] {
    display: none !important;
  }
  [id="timeofjob"] {
    display: none !important;
  }
}

.pclass {
  text-overflow: ellipsis !important;
  padding-left: -20px !important;
  margin-left: 0 !important;
}

@media (max-width: 810px) {
  .pclass {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow-x: hidden !important;
  }
}

[id="jobcard"] {
  cursor: pointer;
}
@layer components {
  [id="edit"] {
    @apply shadow-sm shadow-[#eaaa00];
    padding: 10px !important;
  }
}

[id="delete"] {
  background-color: #BD362F;
  padding: 10px !important;
  @apply shadow-md shadow-[#BD362F];
  color: white !important;
}


[id="save"] {
  background-color: #51A351;
  padding: 10px !important;
  @apply shadow-md shadow-[#BD362F];
  color: white !important;
}

// [id="deletetext"] {
//   font-color: white !important;
//   color: white !important;
// }

[id="accepted"] {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}


@media (max-width: 1420px) {
  .backbutton {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
  }

  .msgbox {
    padding-left: 1px !important;
    padding-right: 1px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .msg {
    overflow-wrap: break-word !important;
    word-break: break-word;
    hyphens: auto !important;
  }

  .backbutton2 {
    display: none;
  }
  .visible {
    width: calc(100% - 16rem) !important;
    display: flex !important;
    min-width: calc(100% - 16rem) !important;
    max-width: calc(100% - 16rem) !important;
    margin: 0px;
    padding: 0px;
    height: 100% !important;
  }
  .hiddencol {
    max-width: 0px !important;
    width: 0px !important;
    height: 0px !important;
    display: none;
  }
  [id="rightcol"] {
    width: calc(100% - 72px);
  }
  .messagecol {
    max-width: 0px;
    width: 0px;
    height: 0px;
    display: none;
  }

  // .messagecontainer {
  //   max-width: 0px !important;
  //   width: 0px !important;
  //   height: 0px !important;
  //   padding: 0px !important;
  // }

  // [id="messagearea"] {
  //   max-width: 0px !important;
  //   width: 0px !important;
  //   height: 0px !important;
  //   padding: 0px !important;
  // }

  .chatroomcol {
    width: 100%;
    display: flex;
    min-width: 100%;
  }

  .chatroomcard {
    width: 100%;
    display: flex;
  }
}

@media (max-width: 750px) {
  .chatroomid {
    font-size: 12px !important;
  }
  [id="message"] {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
  [id="stock"] {
    margin-left: 0px;
    margin-right: 0px;
  }
  .backbutton {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
  }

  .backbutton2 {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
  }

  .menu {
    width: 100% !important;
    min-width: 100% !important;
    display: flex !important;
    .sidenav {
      width: 100% !important;
      min-width: 100% !important;
      display: flex !important;
    }
  }

  .showmenu {
    width: 0px;
    min-width: 0px;
    display: none;
  }

  input,
  input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 4;
  }
  [id="messagearea"] {
    overflow-x: auto;
    padding: 0px !important;
    margin: 0px !important;
  }

  .msgbox {
    padding-left: 1px !important;
    padding-right: 1px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .msg {
    overflow-wrap: break-word !important;
    word-break: break-word;
    hyphens: auto !important;
  }
  .mymessage {
    padding: 2px !important;
  }
  .theirmessage {
    padding: 4px;
  }
  .msgfont {
    font-size: 12px;
  }
  .sidenav {
    width: 0px;
    min-width: 0px;
    display: none;
  }
  .visible {
    width: calc(100%) !important;
    display: flex !important;
    min-width: calc(100%) !important;
    max-width: calc(100%) !important;
    margin: 0px;
    padding: 0px;
    height: 100% !important;
  }
  .hiddencol {
    max-width: 0px !important;
    width: 0px !important;
    height: 0px !important;
    display: none;
  }
  [id="rightcol"] {
    width: 100%;
  }
  .messagecol {
    max-width: 0px;
    width: 0px;
    height: 0px;
    display: none;
  }

  // .messagecontainer {
  //   max-width: 0px !important;
  //   width: 0px !important;
  //   height: 0px !important;
  //   padding: 0px !important;
  // }

  // [id="messagearea"] {
  //   max-width: 0px !important;
  //   width: 0px !important;
  //   height: 0px !important;
  //   padding: 0px !important;
  // }

  .chatroomcol {
    width: 100% !important;
    display: flex;
    min-width: 100%;
  }

  .chatroomcard {
    width: 100%;
    display: flex;
  }


}
