@use '@angular/material' as mat;
@import "../../../custom-theme.scss";
@import "../../../styles.scss";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'simplebar';
@import 'simplebar/dist/simplebar.css';
[id="listitem"] {
  display: inline-block !important;
}

[id="date"] {
  display: inline-block !important;
  float: none;
  display: flex;
}
.custom-a {
    padding: 10px;
    @apply shadow-md shadow-[#eaaa00];
}

.messagearea {
  display: flex;
  flex-direction: column;
  height: 60vh !important;
  background-color: white !important;
  width: 100% !important;
  overflow-y: auto;
  overflow-x: hidden;
}


.mymessage {
  background: rgb(255,127,42);
  background: linear-gradient(270deg, rgba(255,127,42,1) 0%, rgba(234,170,0,1) 100%);
}

// .theirmessage {
//   background: rgb(61,200,196);
//   background: linear-gradient(270deg, rgba(61,200,196,1) 0%, rgba(0,69,255,1) 100%);
// }

[id="message"] {
  background-color: #54585A;
  @apply shadow-md shadow-[#54585A] hover:shadow-gray-600;


}

[id="send"] {
  background-color: #eaaa00;
  @apply shadow-md shadow-[#eaaa00] hover:shadow-gray-600 transition-colors duration-200 transform;
}



.row-item-div-large {
  width: 28.3333333%;
  margin: 5%;
}

h2 {
  font-family: "Dosis";
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

.selected {
  background: rgb(229 231 235 / var(--tw-bg-opacity));
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background-image: linear-gradient( yellow , red) !important;
}

.simplebar-track.simplebar-vertical {
  background-color: orange !important;
}

::ng-deep .simplebar-scrollbar::before {
  background-image: linear-gradient( yellow , red) !important;
}

[id="stock"] {
  border-radius: 50% !important;
  border: solid 1px #000 !important;
  width: 100px;
  height: 100px;
  display: inline !important;
}
[id="theapp"] {
  cursor: pointer;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}

textarea {
  border-style: none;
  border-color: Transparent;
  overflow: auto;
}

[id="apply"] {
  padding: 16px;
  float: right;
}

[id="dateofjob"] {
  float: right !important;
  display: block !important;
}

[id="desc"] {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-all;
}

bar-rating {
  float: right;
}

[id="rightcol"] {
  width: calc(40% - 72px) !important;
}

[id="rightcol2"] {
  width: calc(60% - 72px) !important;
}

.navbar {
  width: 100% !important;
}

[id="stock"] {
  border-radius: 50% !important;
  border: solid 1px #000 !important;
}

[id="createclick"] {
  padding: 10px !important;
}

.mat-raised-button {
  @apply shadow-md shadow-[#eaaa00];
}


[id="dropdown"] {
  float: right;
}
[id="filter"] {
  display: inline !important;
}

[id="arrow"] {
  display: inline !important;
}

[id="type"] {
  font-color: white !important;
}

[id="row-bottom"] {
  justify-self: baseline !important;
  align-self: flex-end !important;
}

[id="timeofjob"] {
  display: inline !important;
}


@media (max-width: 1400px) {
  [id="dateofjob"] {
    display: none !important;
  }
  [id="timeofjob"] {
    display: none !important;
  }
}

.pclass {
  text-overflow: ellipsis !important;
  padding-left: -20px !important;
  margin-left: 0 !important;
}

@media (max-width: 810px) {
  .pclass {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow-x: hidden !important;
  }
}

[id="jobcard"] {
  cursor: pointer;
}
@layer components {
  [id="edit"] {
    @apply shadow-sm shadow-[#eaaa00];
    padding: 10px !important;
  }
}

[id="delete"] {
  background-color: #BD362F;
  padding: 10px !important;
  @apply shadow-md shadow-[#BD362F];
  color: white !important;
}


[id="save"] {
  background-color: #51A351;
  padding: 10px !important;
  @apply shadow-md shadow-[#BD362F];
  color: white !important;
}

// [id="deletetext"] {
//   font-color: white !important;
//   color: white !important;
// }

[id="accepted"] {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}
