
<div id="container">
	<navbar></navbar>
	<div id="graphic">
	</div>
  <div>
	<div id="background-div">
		<div class="bootstrap-wrapper">
			<div class="container">
				<div id="header-row" class="row">
					<div class="col-lg">
						<h1>TutorCare</h1>
						<h2>Join a community of parents and students</h2>
						<h3>Create job postings. Find great caregivers and tutors.</h3>
					</div>
					<div class="col-lg">
						<img src="../../assets/images/tutor.png" id="header-img">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bootstrap-wrapper">
		<div class="container" id="second-container">
			<h1>Our Goals</h1>
			<div class="row">
				<div class="col-lg">
					<div class="card" id="care-card">
						<h2>Care</h2>
						<h3>Taking care of your little ones.</h3>
					</div>
				</div>
				<div class="col-lg">
					<div class="card" id="tutor-card">
						<h2>Tutor</h2>
						<h3>Heping students achieve academically.</h3>
					</div>
				</div>
				<div class="col-lg">
					<div class="card" id="convenience-card">
						<h2>Convenience</h2>
						<h3>Care when you need it.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
