<div>
    <navbar></navbar>
    <mat-list>
        <mat-list-item >
            <h1>Join a community of parents and students <h2>Create job postings. Find great caregivers and tutors.</h2></h1>
            <img id="rightimg" src="../../assets/images/tutor.png" width="800px" height="800px" />
        </mat-list-item>
        <mat-list-item id="spacer" >
          <img id="spacer" src="../../assets/images/tutor.png" width="800px" height="800px" />
        </mat-list-item>
      </mat-list>
</div>
