@use '@angular/material' as mat;
@import "../../custom-theme.scss";
// h1 {
//     text-align: center;
//     font-family: "Dosis";
//     font-size: 80px;
// }


[id="stock"] {
    border-radius: 50% !important;
    border: solid 1px #000 !important;
    height: 50px;
    width: 50px;
}

h2 {
//    text-align: center;
    font-family: "Dosis";
    font-size: 30px;
}

.edit-profile{
    width: 100% !important;
    min-width: unset!important;
    color: white;
    background-color: mat.get-color-from-palette($tutorcare-core-primary);
    border-radius: 30px !important;
    padding: 10px;
}

// [id="biodiv"] {
//   margin-left: 4vw !important;
// }
// [id="empty"] {
//     width: 200px;
// }

/*bar-rating {
  right: 0;
  bottom: 0;
  position: absolute;
}*/


[id="outercard"] {
  position: relative;
}

.twocolumn {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

@media (min-width: 860px) {
  .twocolumn {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}


.profile{
  padding: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.photo-block{
  text-align: center;
}
.photo-block img{
  width: 300px;
  height: 200px;
  border-radius: 15%;
}

/*.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}*/