@use '@angular/material' as mat;
@import "../../custom-theme.scss";
// h1 {
//     text-align: center;
//     font-family: "Dosis";
//     font-size: 80px;
// }


[id="stock"] {
    border-radius: 50% !important;
    border: solid 1px #000 !important;
    height: 50px;
    width: 50px;
}

// h2 {
//     text-align: center;
//     font-family: "Dosis";
//     font-size: 30px;
// }

.edit-profile{
    width: 200px!important;
    min-width: unset!important;
    color: white;
    background-color: mat.get-color-from-palette($tutorcare-core-primary);
    border-radius: 30px !important;
    padding: 10px;
}

// [id="biodiv"] {
//   margin-left: 4vw !important;
// }
// [id="empty"] {
//     width: 200px;
// }

bar-rating {
  right: 0;
  bottom: 0;
  position: absolute;
}


[id="outercard"] {
  position: relative;
}
