<div>
  <h2 mat-dialog-title class="py-5">Create Job Posting</h2>
  <mat-dialog-content [formGroup]="form">
    <mat-card>
      <!-- <mat-form-field appearance="outline">
          <mat-label>Type of Care</mat-label>
          <input  formControlName="type_care" matInput />
      </mat-form-field> -->
      <mat-form-field [style.font-size]="'16px'" appearance="fill">
        <mat-label>Type of Care</mat-label>
            <mat-select formControlName="type_care" name="option">
            <mat-option *ngFor="let option of filter_options" [value]="option.value">
                {{option.viewValue}}
            </mat-option>
        </mat-select>
        <mat-error *ngFor="let validation of validation_messages.care_type">
          <mat-error class="error-message" *ngIf="form.get('type_care').hasError(validation.type) && (form.get('type_care').dirty || form.get('type_care').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
    </mat-card>
    <mat-card>
      <!-- <mat-form-field appearance="outline">
          <mat-label>Type of Care</mat-label>
          <input  formControlName="type_care" matInput />
      </mat-form-field> -->
      <mat-form-field [style.font-size]="'16px'" appearance="fill">
        <mat-label>Repeat Job</mat-label>
            <mat-select formControlName="repeat_job" name="option">
            <mat-option *ngFor="let option of repeat_options" [value]="option.value">
                {{option.viewValue}}
            </mat-option>
        </mat-select>
        <mat-error *ngFor="let validation of validation_messages.job_repeat">
          <mat-error class="error-message" *ngIf="form.get('repeat_job').hasError(validation.type) && (form.get('repeat_job').dirty || form.get('repeat_job').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field appearance="outline">
          <mat-label>Job Title</mat-label>
          <!-- <input formControlName="job_desc" matInput /> -->
          <input id="title-field" matInput
                    name="first"
                    formControlName="job_title"
                    class = "title">
          <mat-error *ngFor="let validation of validation_messages.job_title">
            <mat-error class="error-message" *ngIf="form.get('job_title').hasError(validation.type) && (form.get('job_title').dirty || form.get('job_title').touched)">{{validation.message}}</mat-error>
          </mat-error>
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-form-field appearance="outline">
        <mat-label>Job Description</mat-label>
        <!-- <input formControlName="job_desc" matInput /> -->
        <textarea id="desc-field" matInput
                  name="first"
                  formControlName="job_desc"
                  cdkTextareaAutosize
                  class="textarea-inline-control" >
        </textarea>
        <mat-error *ngFor="let validation of validation_messages.job_desc">
          <mat-error class="error-message" *ngIf="form.get('job_desc').hasError(validation.type) && (form.get('job_desc').dirty || form.get('job_desc').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
    </mat-card>

    <mat-card>
      <!-- <mat-form-field appearance="outline">
          <mat-label>Tags - Enter keywords separated by spaces</mat-label>
          <textarea id="tags-field" matInput
                    name="first"
                    formControlName="job_tags"
                    cdkTextareaAutosize
                    class="textarea-inline-control" >
          </textarea>
      </mat-form-field> -->
      <ng-select placeholder="Type of Care Tags" class="custom" matInput [multiple]="true" [maxSelectedItems]="5" [(ngModel)]="selectedTags" [ngModelOptions]="{standalone: true}">
        <ng-option *ngFor="let tag of items" [value]="tag.value" >{{tag.display}}</ng-option>
      </ng-select>
    </mat-card>
      <!-- <mat-form-field id="dashboardComponent">
        <input matInput
          [matDatepicker]="matDatepicker"
          formControlName="picker"
          >
        <mat-datepicker-toggle matSuffix [for]="matDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #matDatepicker></mat-datepicker>
      </mat-form-field> -->

      <div formGroupName = "dateGroup">
        <mat-card>
          <mat-form-field>
            <mat-label>Start Time</mat-label>
            <input matInput [ngxMatDatetimePicker]="picker1" placeholder="Choose a date" formControlName="start_time"
              [min]="minDate1" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker [defaultTime]="[12,0,0]" [showSeconds]="false" [stepMinute]="15" [enableMeridian]="true" #picker1>
            </ngx-mat-datetime-picker >
            <mat-error *ngFor="let validation of validation_messages.start_time">
              <mat-error class="error-message" *ngIf="form.get('dateGroup').get('start_time').hasError(validation.type) && (form.get('dateGroup').get('start_time').dirty || form.get('dateGroup').get('start_time').touched)">{{validation.message}}</mat-error>
            </mat-error>
        </mat-form-field>
        </mat-card>
        <mat-card>
          <mat-form-field>
            <mat-label>End Time</mat-label>
            <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Choose a date" formControlName="end_time"
              [min]="minDate2" [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker [defaultTime]="[12,0,0]" [showSeconds]="false" [stepMinute]="15" [enableMeridian]="true" #picker2>
            </ngx-mat-datetime-picker>
            <mat-error *ngFor="let validation of validation_messages.end_time">
              <mat-error class="error-message" *ngIf="form.get('dateGroup').get('end_time').hasError(validation.type) && (form.get('dateGroup').get('end_time').dirty || form.get('dateGroup').get('end_time').touched)">{{validation.message}}</mat-error>
            </mat-error>
        </mat-form-field>
      </mat-card>
    </div>

  </mat-dialog-content>
  <div class="flex flex-row justify-between w-full">
    <button mat-raised-button class=" mat-primary create-button"(click)="close()"> <span>CLOSE</span></button>
    <button mat-raised-button id="create-button" class="shadow-md shadow-[#eaaa00]  mat-accent create-button"(click)="save()" [disabled]="!form.valid"><span>CREATE</span></button>
  </div>
</div>
