@use '@angular/material' as mat;
@import "../../custom-theme.scss";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.mat-dialog {
  background-color: #D6DBD4;
}
mat-card {
  padding: 10px;
  margin: 15px;
}
.mat-dialog-content {
  padding: 10px;
}
.mat-form-field {
  width: 100%;
}
h2 {
  margin: 40px 10%;
  font-family: "Dosis" !important;
  font-size: calc(26px + 1vw) !important;
}
.textarea-inline-control {
  flex: 1;
  border-color: transparent;
  padding: 2 0 100px;
  padding-bottom: 3%;
  line-height: 1.28;
  min-height: 100px;
  resize: none;
  box-shadow: transparent 0px 0px 0px 1px;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 3px;
  appearance: none;
  display: flex;
  &:hover:not(:focus) {
      background-color: rgb(235, 236, 240);
      overflow-x: hidden;
      display: flex;
      flex: 1;
  }

  &:focus {
      background-color: rgb(255,255,255);
      border: 1px solid #4c9aff;
      box-shadow: 0 0 0 1px #4c9aff;
      outline: none;
  }
}

button {
  padding: 10px;
}


.mat-raised-button {
  @apply shadow-md shadow-[#eaaa00];
}


