@use '@angular/material' as mat;
@import "../../custom-theme.scss";
@import "../../styles.scss";

.mat-list-item {
    border-bottom: solid 1px #000;
}


.custom-a {
    float: right !important;
    margin: 50px;
    padding: 10px;
}

.row-item-div {
  margin-left: 80px;
  // width: 150px;
  width: 12.5%;

}

.row-item-div-large {
  margin-left: 80px;
  width: 250px;

}

h2 {
  font-family: "Dosis";
  font-size: 20px;
}


[id="stock"] {
  border-radius: 50% !important;
  border: solid 1px #000 !important;
  height: 100px;
  width: 100px;
}

// mat-card {
//   margin:  10px 2.5%;
//   // padding-bottom: 20px;
//   width: 95%;
// }

.mat-card {
  background-color: #D6DBD4;
  margin-top: 10px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
