<div>
  <navbar>
  </navbar>
  <mat-list class="h-full">
    <mat-list-item layout="row" class="justify-center items-center h-full">
      <div class="row-item-div-large justify-center items-center">
        <mat-form-field [style.font-size]="'16px'" appearance="fill">
          <mat-label>Filter By</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="option">
              <mat-option *ngFor="let option of filter_options" [value]="option.value">
                  {{option.viewValue}}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row-item-div-large justify-center items-center">
        <form>
          <mat-form-field>
          <span matPrefix> </span>
          <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
          <button matSuffix mat-button><mat-icon [style.transform]="'scale(1.4)'">search</mat-icon></button>
          </mat-form-field>
        </form>
      </div>
      <div class="row-item-div-large justify-center items-center">
        <button class="custom-a" mat-raised-button color="primary" (click)="openDialog()"> <span>CREATE JOB POSTING</span></button>
      </div>
    </mat-list-item>
  </mat-list>
  <mat-list class="h-full w-full">
    <!-- <mat-list-item *ngFor="let loc of locs"> -->
      <mat-card *ngFor="let post of posts" class="w-full h-full justify-center items-center py-8">
        <mat-list-item id="rowone" layout="row" class="justify-center items-center my-[5%]">
          <div class="row-item-div"><img id="stock" src="../../assets/images/profile_picture.jpeg"/></div>
          <div class="row-item-div"><h2>Type of Care:</h2> {{post.care_type}}</div>
          <div class="row-item-div"> <h2>Job Description:</h2> {{post.care_description}}</div>
          <div class="row-item-div"> <h2>Date:</h2> {{ post.date_of_job }}</div>
        </mat-list-item>
        <mat-list-item id="rowtwo" layout="row" class="justify-center items-center">
          <div class="row-item-div"><h2>Start Time:</h2> {{ post.start_time }}</div>
          <div class="row-item-div"><h2>End Time:</h2> {{ post.end_time }}</div>
          <div class="row-item-div"><bar-rating [readOnly]=true [(rate)]="rate" [theme]="'stars'" [max]="5"></bar-rating></div>
          <div class="row-item-div">
            <button mat-raised-button (click)="openApplyDialog(post)" class="custom-a shadow-md shadow-[#eaaa00]" color="accent">
              <span>APPLY</span>
            </button>
          </div>
        </mat-list-item>
    </mat-card>

  </mat-list>
</div>
