@use '@angular/material' as mat;
@import "../../custom-theme.scss";
@import "../../styles.scss";

[id="stock"] {
  border-radius: 50% !important;
  border: solid 1px #000 !important;
  height: 75px;
  width: 75px;
}

[id="bottomdiv"] {
  bottom: 0;
  position: absolute;
  margin-bottom: 2%;
}

[id="outerdiv"] {
  position: relative;
}

.cancelbutton {
  color: black !important;
  z-index: 100 !important;
}


[id="messagebutton"] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  margin-top: 2%;
  margin-right: 2%;
}

// .mat-toolbar {
//   height: 2% !important;
// }
.mat-toolbar-row {
  height: 100px;
}

@media (max-width: 420px) {

  [id="outerdiv"] {
    position: relative;
    height: 60% !important;
    padding-bottom: 80px !important;
  }

  [id="bottomdiv"] {
    bottom: 0;
    position: absolute;
    margin-bottom: 2%;
    margin-top: 20% !important;
  }

}

@media (max-width: 290px) {

  [id="outerdiv"] {
    position: relative;
    height: 60% !important;
    padding-bottom: 80px !important;
  }

  [id="bottomdiv"] {
    bottom: 0;
    position: absolute;
    margin-bottom: 2%;
    margin-top: 20% !important;
  }

  [id="rowitem"] {
    margin: 0% !important;
    width: 100px;
  }

  [id="rowitem2"] {
    margin: 0% !important;
    width: 100px;
    margin-top: 5% !important;
  }

  mat-form-field {
    width: 100px;
  }

  [id="firstlast"] {
    margin-top: 40% !important;
  }


}

