button {
    padding: 10px;
}

mat-card {
    margin:  3% 20%;
    padding: 2%;
    background-color: #D6DBD4;
}

mat-card-title {
    font-size: 2em;
    margin-bottom: 1em;
}

mat-form-field {
    display: block;
    margin-top: 1%;
}

#signin-button {
    float: right;
}

.center {
    text-align: center;
}
.mat-raised-button {
  @apply shadow-md shadow-[#eaaa00];
}
