<div>
    <navbar></navbar>
    <form class="example-form">
        <mat-card>
            <mat-card-title>Sign Up</mat-card-title>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input [formControl]="firstNameFC" matInput (change)="onFirstNameChange()">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input [formControl]="lastNameFC" matInput (change)="onLastNameChange()">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input [formControl]="emailFC" matInput (change)="onEmailChange()">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input [formControl]="passwordFC" matInput (change)="onPasswordChange()">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Will you be:</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="option">
                  <mat-option *ngFor="let option of options" [value]="option.value">
                    {{option.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            
            <mat-card-actions>
                <button mat-button (click)="onLoginSubmit()" color="accent">
                    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon> -->
                    <span>LOGIN</span>
                </button> 
                <button mat-raised-button (click)="onSignupSubmit()" color="primary" id="login-button">
                    <span>SIGN UP</span>
                </button>  
            </mat-card-actions>
        </mat-card>
    </form>
</div>