/*button {
    margin: 2% 5%;
}*/

mat-card {
    margin:  40px 20%;
    padding-bottom: 20px;
    background-color: #D6DBD4;
}

mat-card-title {
    font-size: 2em;
    margin-bottom: 20px;
}

mat-form-field {
    display: block;
    margin: 2em;
}

.left-button {
    float: left;
    display: block;
}

.right-button {
    float: right;
    display: block;
}

mat-icon {
    margin: auto 5px;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}
.mat-raised-button {
  @apply shadow-md shadow-[#eaaa00];
}
