<div>
    <navbar></navbar>

        <form [formGroup]="accountDetailsForm" novalidate (ngSubmit)="onSignupSubmit(accountDetailsForm.value)" *ngIf='hidden'>
            <mat-card>
                <mat-card-title>Sign Up</mat-card-title>
                <mat-form-field class="full-width" appearance="outline">
                  <input matInput maxlength="25" placeholder="First Name" formControlName="firstName" required>
                  <mat-label>First Name</mat-label>
                  <mat-error *ngFor="let validation of validation_messages.name">
                    <mat-error class="error-message" *ngIf="accountDetailsForm.get('firstName').hasError(validation.type) && (accountDetailsForm.get('firstName').dirty || accountDetailsForm.get('firstName').touched)">{{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <input matInput maxlength="25" placeholder="Last Name" formControlName="lastName" required>
                    <mat-label>Last Name</mat-label>
                    <mat-error *ngFor="let validation of validation_messages.name">
                      <mat-error class="error-message" *ngIf="accountDetailsForm.get('lastName').hasError(validation.type) && (accountDetailsForm.get('lastName').dirty || accountDetailsForm.get('lastName').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                  <input matInput type="email" placeholder="Email" formControlName="email" required>
                  <mat-label>Email</mat-label>
                  <mat-error *ngFor="let validation of validation_messages.email">
                    <mat-error class="error-message" *ngIf="accountDetailsForm.get('email').hasError(validation.type) && (accountDetailsForm.get('email').dirty || accountDetailsForm.get('email').touched)">{{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>


                <div formGroupName="matchingPasswords">
                  <mat-form-field class="full-width" appearance="outline">
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                    <mat-label>Password</mat-label>
                    <mat-error *ngFor="let validation of validation_messages.password">
                      <mat-error class="error-message" *ngIf="accountDetailsForm.get('matchingPasswords').get('password').hasError(validation.type) && (accountDetailsForm.get('matchingPasswords').get('password').dirty || accountDetailsForm.get('matchingPasswords').get('password').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="full-width" appearance="outline">
                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password"  [errorStateMatcher]="parentErrorStateMatcher" required>
                    <mat-label>Confirm Password</mat-label>
                    <mat-error *ngFor="let validation of validation_messages.confirm_password">
                      <mat-error class="error-message" *ngIf="(accountDetailsForm.get('matchingPasswords').get('confirm_password').hasError(validation.type)|| accountDetailsForm.get('matchingPasswords').hasError(validation.type)) && (accountDetailsForm.get('matchingPasswords').get('confirm_password').dirty || accountDetailsForm.get('matchingPasswords').get('confirm_password').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Are you looking to:</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let option of options" [value]="option.value">
                        {{option.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <button color="primary" mat-raised-button type="submit" [disabled]="!accountDetailsForm.valid" id ="signin-button">
                    Sign In
                </button>

                <button color="primary" mat-raised-button id="login-button" (click) = "onLoginSubmit()">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon>
                    Login
                </button>
        </mat-card>
    </form>
    <form [formGroup] = "emailCodeForm" novalidate (ngSubmit)="onVerifySubmit(emailCodeForm.value)" *ngIf="!hidden">
      <mat-card>
        <h3 class="center">Thank you for signing up with TutorCare! <br>Please check your email for a verification code</h3>
        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Email Code" formControlName="emailVerificationCode" required>
          <mat-error *ngFor="let validation of validation_messages.emailCode">
            <mat-error class="error-message" *ngIf="emailCodeForm.get('emailVerificationCode').hasError(validation.type) && (emailCodeForm.get('emailVerificationCode').dirty || emailCodeForm.get('emailVerificationCode').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <button class="submit-btn, right-button" color="primary" mat-raised-button type="submit" [disabled]="!emailCodeForm.valid" id ="verify-button">
            Verify Email
        </button>

        <button class="submit-btn, left-button" color="primary" mat-raised-button id="resend-button">
            Resend Email
        </button>
        <div class ="clear"></div>
      </mat-card>
    </form>
</div>
