@import '~ngx-bar-rating/themes/br-stars-theme';
@import '~ngx-toastr/toastr';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~@ng-select/ng-select/themes/material.theme.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: "Dosis";
    src: url(assets/fonts/Dosis-SemiBold.ttf) format("truetype");
}

mat-dialog-container {
  background-color: #D6DBD4 !important;
}
