@use '@angular/material' as mat;
@import "../../custom-theme.scss";
@import "../../styles.scss";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h2 {
  font-family: "Dosis";
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

th {
  width: 200px;
}

[id="rightcol"] {
  width: 100% !important;
}

[id="back"] {
  background-color: #eaaa00;
  @apply shadow-md shadow-[#eaaa00] hover:shadow-gray-600 transition-colors duration-200 transform;
  display: none;
}

.navbar {
  width: 100% !important;
}

.mat-raised-button {
  @apply shadow-md shadow-[#eaaa00];
}


@media (max-width: 1420px) {

  .backbutton2 {
    display: none;
  }

  .hiddencol {
    max-width: 0px !important;
    width: 0px !important;
    height: 0px !important;
    display: none;
  }
}

@media (max-width: 750px) {
  .backbutton {
    display: flex;
    padding-left: 10px;
  }

  .backbutton2 {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
  }

  .menu {
    width: 100% !important;
    min-width: 100% !important;
    display: flex !important;
    .sidenav {
      width: 100% !important;
      min-width: 100% !important;
      display: flex !important;
    }
  }

  .showmenu {
    width: 0px;
    min-width: 0px;
    display: none;
  }
  .sidenav {
    width: 0px;
    min-width: 0px;
    display: none;
  }

  .hiddencol {
    max-width: 0px !important;
    width: 0px !important;
    height: 0px !important;
    display: none;
  }
}