<nav>
  <div>
    <a  *ngIf="currPage !== 'my-account'" class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-200 transform rounded-md dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700" (click) = "onMyAccountClick()">
      <mat-icon>topic</mat-icon>

        <span class="mx-4 font-medium">My Account</span>
    </a>

    <a *ngIf="currPage === 'my-account'" class="flex items-center px-4 py-2 mt-5 text-gray-700 bg-gray-200 rounded-md" (click) = "onMyAccountClick()">
      <mat-icon>topic</mat-icon>

        <span class="mx-4 font-medium">My Account</span>
    </a>

    <a *ngIf="currPage !== 'past-jobs'" class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-200 transform rounded-md dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700" (click) = "onPastJobsClick()">
      <mat-icon>message</mat-icon>

      <span class="mx-4 font-medium">Past Jobs</span>
    </a>

    <a *ngIf="currPage === 'past-jobs'" class="flex items-center px-4 py-2 mt-5 text-gray-700 bg-gray-200 rounded-md" (click) = "onPastJobsClick()">
      <mat-icon>message</mat-icon>

      <span class="mx-4 font-medium">Past Jobs</span>
    </a>
  </div>
</nav>

