<div>
    <navbar></navbar>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onLoginSubmit(loginForm.value)">
      <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-form-field class="full-width" appearance="outline">
          <input matInput type="email" placeholder="Email" formControlName="email" required>
          <mat-label>Email</mat-label>
          <mat-error *ngFor="let validation of validation_messages.email">
            <mat-error class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-label>Password</mat-label>
          <mat-error *ngFor="let validation of validation_messages.password">
            <mat-error class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <div class="flex flex-row justify-between">
          <div class="flex flex-col">
            <button color="accent" mat-raised-button id ="signin-button" (click) = "onSignupSubmit()">
              Sign Up
            </button>
          </div>
          <div class="flex flex-col">
            <button color="accent" mat-raised-button type="submit" id="login-button" [disabled]="!loginForm.valid">
              <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon>
              Login
            </button>
          </div>
      </div>

      </mat-card>
    </form>
</div>
