@use '@angular/material' as mat;
@import "../../../custom-theme.scss";
@import "../../../styles.scss";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[id="listitem"] {
  display: inline-block !important;
}

[id="date"] {
  display: inline-block !important;
  float: none;
  display: flex;
}
.custom-a {
    padding: 10px;
    @apply shadow-md shadow-[#eaaa00];
}

.timestamp {
  display: inline !important;
  display: flex !important;
  justify-self: flex-end !important;
  justify-content: flex-end !important;
  float: right !important;
}

.messagecontent {
  flex-shrink: 1 !important;
  max-width: 20% !important;
  overflow-wrap: anywhere !important;
  word-break: break-all;
}

.appcontent {
  max-width: 20% !important;
  overflow-wrap: anywhere !important;
  word-break: break-all;
  flex: 1 !important;
}

.namedate {
  flex: 1 !important;
}

.appname {
  text-align: right;
}

.appdate {
  text-align: right;
}

.mat-raised-button {
  @apply shadow-lg shadow-[#eaaa00];
}


.row-item-div-large {
  width: 28.3333333%;
  margin: 5%;
}

h2 {
  font-family: "Dosis";
  font-size: 20px;
}

h3 {
  font-size: 16px;
}


[id="stock"] {
  border-radius: 50% !important;
  border: solid 1px #000 !important;
  width: 100px;
  height: 100px;
  display: inline !important;
}
[id="theapp"] {
  cursor: pointer;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}

[id="apply"] {
  padding: 16px;
  float: right;
}

[id="dateofjob"] {
  float: right !important;
  display: inline-block !important;
}

[id="desc"] {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-all;
}

bar-rating {
  float: right;
}

[id="rightcol"] {
  width: calc(40% - 72px) !important;
}

[id="rightcol2"] {
  width: calc(60% - 72px) !important;
}

.navbar {
  width: 100% !important;
}

[id="stock"] {
  border-radius: 50% !important;
  border: solid 1px #000 !important;
}

[id="createclick"] {
  padding: 10px !important;
}

.mat-raised-button {
  @apply shadow-md shadow-[#eaaa00];
}


[id="dropdown"] {
  float: right;
}
[id="filter"] {
  display: inline !important;
}

[id="arrow"] {
  display: inline !important;
}

[id="type"] {
  font-color: white !important;
}

[id="row-bottom"] {
  justify-self: baseline !important;
  align-self: flex-end !important;
}

[id="back"] {
  background-color: #eaaa00;
  @apply shadow-md shadow-[#eaaa00] hover:shadow-gray-600 transition-colors duration-200 transform;
  display: none;
}

@media (max-width: 1400px) {
  .backbutton {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
  }
  [id="dateofjob"] {
    display: none !important;
  }
  .backbutton2 {
    display: none;
  }
  .visible {
    width: calc(100% - 16rem) !important;
    display: flex !important;
    min-width: calc(100% - 16rem) !important;
    max-width: calc(100% - 16rem) !important;
    margin: 0px;
    padding: 0px;
    height: 100% !important;
  }
  [id="rightcol"] {
    width: calc(100% - 16rem);
  }
  [id="rightcol2"] {
    max-width: 0px;
    width: 0px;
    height: 0px;
    display: none;
  }
  .hiddencol {
    max-width: 0px !important;
    width: 0px !important;
    height: 0px !important;
    display: none !important;
  }
}

.pclass {
  text-overflow: ellipsis !important;
}

@media (max-width: 810px) {
  .subapp {
    width: 100% !important;
    min-width: 100% !important;
  }
  .sidenav {
    width: 0px;
    min-width: 0px;
    display: none;
  }
  .backbutton {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
  }
  .pclass {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow-x: hidden !important;
  }
  .visible {
    width: calc(100%) !important;
    display: flex !important;
    min-width: calc(100%) !important;
    max-width: calc(100%) !important;
    margin: 0px;
    padding: 0px;
    height: calc(100% - 1rem) !important;
  }
  [id="rightcol2"] {
    max-width: 0px;
    width: 0px;
    height: 0px;
    display: none;
  }
  [id="rightcol"] {
    width: 100%;
  }
  .appcol {
    width: 100% !important;
    display: flex;
  }

  .appcolumn {
    width: 100% !important;
  }

  .appcard {
    width: calc(100% - 20px) !important;
    margin: 10px !important;
    min-width: calc(100% - 20px) !important;
    display: flex;
  }
  .menu {
    width: 100% !important;
    min-width: 100% !important;
    display: flex !important;
    .sidenav {
      width: 100% !important;
      min-width: 100% !important;
      display: flex !important;
    }
  }
  .backbutton2 {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
  }
  
  .showmenu {
    width: 0px;
    min-width: 0px;
    display: none;
  }
  .hiddencol {
    max-width: 0px !important;
    width: 0px !important;
    height: 0px !important;
    display: none !important;
  }
  [id="accept"] {
    padding: 10px !important;
    @apply shadow-md shadow-[#eaaa00];
    margin-bottom: 20px !important;
  }
  
}

[id="accept"] {
  padding: 10px !important;
  @apply shadow-md shadow-[#eaaa00];
}

[id="accepted"] {
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}

.selected {
  background: rgb(229 231 235 / var(--tw-bg-opacity));
}
